.red {
    color: red;
}

.delete-button {
    color: red;
    border-color: red;
}

.todo-lists-form-section {
    padding: var(--padding-1);
    border-bottom: var(--border-1);
}

.todo-lists-form-section>p {
    margin-top: var(--padding-2);
}

.todo-lists-form {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--padding-2);

    background-color: var(--font-color-2);
}

.todo-lists-form>label {
    display: grid;
    place-content: center;
}

.todo-lists-form>input {
    flex: 1;
}

.todos-lists-container {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 1rem;
    gap: 2rem;
}

.todos-lists-container>div {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-between;
    min-width: fit-content;
    word-break: break-all;
}

.todos-lists-container>div>a {
    color: var(--font-color-1);
    text-decoration: none;

    display: grid;
    place-content: center;
}

.todos-lists-container>div>a:hover {
    text-decoration: underline;
}

.todos-lists-container>div {
    background-color: var(--main-color);
    padding: var(--padding-1);

    border: var(--border-1);
    border-radius: 4px;

    transition: 200ms ease-in-out;
}

.todos-lists-container>div:hover {
    box-shadow: 0px 8px 8px hsl(0, 0%, 82%),
        0px 16px 16px hsl(0, 0%, 86%);
}